<div class="container">
    <h2 style="text-align: center;">Welcome to my web page</h2>
    <br>
    <br>
    <h5>Our Mission: </h5>
    <p>test text message only.</p>
</div>
<div class="buttons" style="justify-items: center;">
    <button style="margin: 30px;"> test button</button>
    <button style="margin: 30px;"> test button</button>
    <button style="margin: 30px;"> test button</button>
    <button style="margin: 30px;"> test button</button>
</div>