<div class="container">
    <div >
        <h2 style="text-align: center;">My projects </h2>
       
    </div>
    <div class="buttons" style="justify-items: center;">
        <table width="900">
            <tbody>
                <tr>
                    <td>
                        <img src="/public/content/images/phoneAssignment.PNG" width="450" height="325"> 
                    </td>
                    <td>
                        <p>In this project from the first semester we had to find a product to create a webpage for advertising the product. In this case I created a page to advertise the Samsung Galaxy s22/s22+/s22 Ultra</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
