<div class="container">
    <div>
        <h2 style="text-align: center;">My Services </h2>
        <hr>
    </div>
    <div class="buttons" style="justify-items: center;">
        <table width="900">
            <tbody>
                <tr>
                    <td>
                        <img src="/public/content/images/cssAndHTMLLogos.png" alt="" width="300px" height="200">
                        
                    </td>
                    <td>
                        <h2>Web Design: </h2>
                        <p>I offer a Web design has one of my services. I will help develop web pages with content and also create cool looking css designs. I draft designs and we work together on making the bets possible good looking web page for your needs.</p>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/public/content/images/CSharpLogo.png" alt="" width="300px" height="200">
                    </td>
                    <td>
                        <h2>Programming: C# </h2>
                        <p>Another service I offer is programming console applications and GUI in C#. I don't design C# applications, only coding the functionally of the program. </p>
                    </td>
                </tr>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</div>